extends layout

doctype
html( lang="en" )
    head
        title TESTING
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='TESTING' )

    block content
        script( src='scripts/bundle.js' )
        script.
            $("#rowFilter").keyup(function(){
                IndexUiAction.filterRows($(this).val().toString().toLowerCase());
            })

            var missionList =!{JSON.stringify(missionList)};

            $(function () {
                IndexUiAction.setPageData(missionList);
                IndexUiAction.initPage("content-table");
            });

        input(type='hidden' id='missionListHolder')

        .row
            .col-md-12
                form(action='/testAdd')
                    button.btn.btn-block.btn-primary(type = 'submit', id = 'testButton' href='testAdd') TEST

        .row
            .col-md-2
                button.btn.btn-success.btn-block(type = 'button', id='successfulBtn') Successful&nbsp
                    span.badge.success-badge 15
            .col-md-2
                button(type = 'button', id='partialSuccessBtn').btn.btn-warning.btn-block Partial Success&nbsp
                    span.badge.partialSuccess-badge 15
            .col-md-2
                button(type = 'button', id='failureBtn').btn.btn-danger.btn-block Failure&nbsp
                    span.badge.failure-badge 15
            .col-md-2
                button(type = 'button', id='activeBtn').btn.btn-other.btn-block Active&nbsp
                    span.badge.active-badge 15
            .col-md-2
                button(type = 'button', id='planningBtn').btn.btn-primary.btn-block Planning&nbsp
                    span.badge.active-badge 15
            .col-md-2
                button(type = 'button', id='advancedFiltering').btn.btn-default.btn-block Advanced Filter&nbsp
            //.col-md-4
            //    form.form-inline(role="search")
            //        input.form-control(id="rowFilter" type="text" placeholder="Filter by Name")

        .row
            .col-md-12
                table.table.table-striped.table-bordered.content-table
                    thead
                        tr
                            th #
                            th Name
                            th Date
                            th Other
                    //tbody
                    //    tr().success
                    //        th 1
                    //        td.name-col-filterable #{missionList[0].missionname}
                    //        td #{missionList[0].created}
                    //        td #{missionList[0].missionname}
                    //
                    //    tr.warning
                    //        th 1
                    //        td.name-col-filterable #{missionList[1].missionname}
                    //        td The Dude
                    //        td Some stuff
                    //
                    //    tr.danger
                    //        th 1
                    //        td.name-col-filterable #{missionList[2].missionname}
                    //        td The Dude
                    //        td Some stuff
                    //
                    //    tr.other
                    //        th 1
                    //        td.name-col-filterable.replaceable It didn't work
                    //        td The Dude
                    //        td Some stuff